/backend/env
.env
/backend/backend/static
/backend/backend/media
/backend/backend/venv

/backend/useraccount/migrations
/backend/useraccount/__pycache__

/backend/backend/__pycache__
/backend/backend/migrations

/backend/chat/__pycache__
/backend/chat/migrations

/backend/analytics/__pycache__
/backend/analytics/migrations